server:
  bind:
    host: 0.0.0.0
    port: 80
  url: ${PYGEOAPI_SERVER_URL:-http://localhost:5000/}
  mimetype: application/json; charset=UTF-8
  encoding: utf-8
  language: en-US
  cors: true
  pretty_print: true
  limits:
    default_items: 50
    max_items: 1000
  map:
    url: https://wmts.geo.admin.ch/1.0.0/ch.swisstopo.pixelkarte-farbe/default/current/3857/{z}/{x}/{y}.jpeg
    attribution: '&copy; <a href="https://www.swisstopo.admin.ch">swisstopo</a>'

logging:
  level: DEBUG

metadata:
  identification:
    title: Swiss Geospatial Data - pygeoapi PoC
    description: Proof of concept OGC API - Features server using pygeoapi with Swiss geospatial data
    keywords:
      - geospatial
      - ogc
      - switzerland
      - swisstopo
    terms_of_service: https://creativecommons.org/licenses/by/4.0/
    url: https://www.swisstopo.admin.ch
  license:
    name: CC-BY 4.0 license
    url: https://creativecommons.org/licenses/by/4.0/
  provider:
    name: swisstopo PoC
    url: https://www.swisstopo.admin.ch
  contact:
    name: swisstopo
    role: pointOfContact

resources:
  swiss-places:
    type: collection
    title: Swiss Places
    description: A collection of notable Swiss cities, mountains, and lakes
    keywords:
      - switzerland
      - cities
      - mountains
      - lakes
      - places
    links:
      - type: text/html
        rel: canonical
        title: Swiss geospatial data
        href: https://www.swisstopo.admin.ch
        hreflang: en-US
    extents:
      spatial:
        bbox: [5.9, 45.8, 10.5, 47.9]
        crs: http://www.opengis.net/def/crs/OGC/1.3/CRS84
    providers:
      - type: feature
        name: GeoJSON
        data: /pygeoapi/data/swiss-places.geojson
        id_field: id
        title_field: name

  swiss-places-lv95:
    type: collection
    title: Swiss Places (LV95)
    description: Notable Swiss cities, mountains, and lakes in LV95 (EPSG:2056) coordinates
    keywords:
      - switzerland
      - lv95
      - epsg:2056
      - ch1903+
    links:
      - type: text/html
        rel: canonical
        title: Swiss geospatial data
        href: https://www.swisstopo.admin.ch
        hreflang: en-US
    extents:
      spatial:
        bbox: [5.9, 45.8, 10.5, 47.9]
        crs: http://www.opengis.net/def/crs/OGC/1.3/CRS84
    providers:
      - type: feature
        name: GeoJSON
        data: /pygeoapi/data/swiss-places-lv95.geojson
        id_field: id
        title_field: name
        crs:
          - http://www.opengis.net/def/crs/OGC/1.3/CRS84
          - http://www.opengis.net/def/crs/EPSG/0/2056
        storage_crs: http://www.opengis.net/def/crs/EPSG/0/2056

  swiss-places-postgis:
    type: collection
    title: Swiss Places (PostGIS)
    description: Swiss cities, mountains, and lakes served from PostGIS
    keywords:
      - switzerland
      - postgis
      - places
    links:
      - type: text/html
        rel: canonical
        title: Swiss geospatial data
        href: https://www.swisstopo.admin.ch
        hreflang: en-US
    extents:
      spatial:
        bbox: [5.9, 45.8, 10.5, 47.9]
        crs: http://www.opengis.net/def/crs/OGC/1.3/CRS84
    providers:
      - type: feature
        name: PostgreSQL
        data:
          host: postgis
          port: 5432
          dbname: geodata
          user: geo
          password: geo
          search_path: [public]
        id_field: id
        title_field: name
        table: swiss_places
        geom_field: geom

  swiss-places-opensearch:
    type: collection
    title: Swiss Places (OpenSearch)
    description: Swiss cities, mountains, and lakes served from OpenSearch
    keywords:
      - switzerland
      - opensearch
      - places
    links:
      - type: text/html
        rel: canonical
        title: Swiss geospatial data
        href: https://www.swisstopo.admin.ch
        hreflang: en-US
    extents:
      spatial:
        bbox: [5.9, 45.8, 10.5, 47.9]
        crs: http://www.opengis.net/def/crs/OGC/1.3/CRS84
    providers:
      - type: feature
        name: OpenSearch
        data: http://opensearch:9200/swiss-places
        open_search: true
        id_field: id
        title_field: name
