server:
  bind:
    host: 0.0.0.0
    port: 80
  url: ${PYGEOAPI_SERVER_URL:-http://localhost:5000/}
  mimetype: application/json; charset=UTF-8
  encoding: utf-8
  language: en-US
  cors: true
  pretty_print: true
  limits:
    default_items: 50
    max_items: 1000
  map:
    url: https://wmts.geo.admin.ch/1.0.0/ch.swisstopo.pixelkarte-farbe/default/current/3857/{z}/{x}/{y}.jpeg
    attribution: '&copy; <a href="https://www.swisstopo.admin.ch">swisstopo</a>'

logging:
  level: DEBUG

metadata:
  identification:
    title: Swiss Geospatial Data - pygeoapi PoC
    description: Proof of concept OGC API - Features server using pygeoapi with Swiss geospatial data
    keywords:
      - geospatial
      - ogc
      - switzerland
      - swisstopo
    terms_of_service: https://creativecommons.org/licenses/by/4.0/
    url: https://www.swisstopo.admin.ch
  license:
    name: CC-BY 4.0 license
    url: https://creativecommons.org/licenses/by/4.0/
  provider:
    name: swisstopo PoC
    url: https://www.swisstopo.admin.ch
  contact:
    name: swisstopo
    role: pointOfContact

resources:
  # ── GeoJSON data: PostGIS collections ──

  cantons-postgis:
    type: collection
    title: PostGIS - Swiss Cantons
    description: Boundaries of the 26 Swiss cantons
    keywords: [switzerland, cantons, administrative, postgis]
    links:
      - type: text/html
        rel: canonical
        title: swisstopo
        href: https://www.swisstopo.admin.ch
        hreflang: en-US
    extents:
      spatial:
        bbox: [5.9, 45.8, 10.5, 47.9]
        crs: http://www.opengis.net/def/crs/OGC/1.3/CRS84
    providers:
      - type: feature
        name: PostgreSQL
        data:
          host: ${POSTGRES_HOST:-postgis}
          port: ${POSTGRES_PORT:-5432}
          dbname: ${POSTGRES_DB:-geodata}
          user: ${POSTGRES_USER:-geo}
          password: ${POSTGRES_PASSWORD:-geo}
          search_path: [public]
        id_field: gid
        title_field: KTKZ
        table: geojson_cantons
        geom_field: geom

  country-postgis:
    type: collection
    title: PostGIS - Swiss Country Boundary
    description: Country boundary of Switzerland
    keywords: [switzerland, country, boundary, postgis]
    links:
      - type: text/html
        rel: canonical
        title: swisstopo
        href: https://www.swisstopo.admin.ch
        hreflang: en-US
    extents:
      spatial:
        bbox: [5.9, 45.8, 10.5, 47.9]
        crs: http://www.opengis.net/def/crs/OGC/1.3/CRS84
    providers:
      - type: feature
        name: PostgreSQL
        data:
          host: ${POSTGRES_HOST:-postgis}
          port: ${POSTGRES_PORT:-5432}
          dbname: ${POSTGRES_DB:-geodata}
          user: ${POSTGRES_USER:-geo}
          password: ${POSTGRES_PASSWORD:-geo}
          search_path: [public]
        id_field: gid
        title_field: name
        table: geojson_country
        geom_field: geom

  districts-postgis:
    type: collection
    title: PostGIS - Swiss Districts
    description: Boundaries of the 144 Swiss districts
    keywords: [switzerland, districts, administrative, postgis]
    links:
      - type: text/html
        rel: canonical
        title: swisstopo
        href: https://www.swisstopo.admin.ch
        hreflang: en-US
    extents:
      spatial:
        bbox: [5.9, 45.8, 10.5, 47.9]
        crs: http://www.opengis.net/def/crs/OGC/1.3/CRS84
    providers:
      - type: feature
        name: PostgreSQL
        data:
          host: ${POSTGRES_HOST:-postgis}
          port: ${POSTGRES_PORT:-5432}
          dbname: ${POSTGRES_DB:-geodata}
          user: ${POSTGRES_USER:-geo}
          password: ${POSTGRES_PASSWORD:-geo}
          search_path: [public]
        id_field: gid
        title_field: BEZNAME
        table: geojson_districts
        geom_field: geom

  lakes-postgis:
    type: collection
    title: PostGIS - Swiss Lakes
    description: Major Swiss lakes
    keywords: [switzerland, lakes, hydrography, postgis]
    links:
      - type: text/html
        rel: canonical
        title: swisstopo
        href: https://www.swisstopo.admin.ch
        hreflang: en-US
    extents:
      spatial:
        bbox: [5.9, 45.8, 10.5, 47.9]
        crs: http://www.opengis.net/def/crs/OGC/1.3/CRS84
    providers:
      - type: feature
        name: PostgreSQL
        data:
          host: ${POSTGRES_HOST:-postgis}
          port: ${POSTGRES_PORT:-5432}
          dbname: ${POSTGRES_DB:-geodata}
          user: ${POSTGRES_USER:-geo}
          password: ${POSTGRES_PASSWORD:-geo}
          search_path: [public]
        id_field: gid
        title_field: name
        table: geojson_lakes
        geom_field: geom

  municipalities-postgis:
    type: collection
    title: PostGIS - Swiss Municipalities
    description: Boundaries of all 2113 Swiss municipalities
    keywords: [switzerland, municipalities, administrative, postgis]
    links:
      - type: text/html
        rel: canonical
        title: swisstopo
        href: https://www.swisstopo.admin.ch
        hreflang: en-US
    extents:
      spatial:
        bbox: [5.9, 45.8, 10.5, 47.9]
        crs: http://www.opengis.net/def/crs/OGC/1.3/CRS84
    providers:
      - type: feature
        name: PostgreSQL
        data:
          host: ${POSTGRES_HOST:-postgis}
          port: ${POSTGRES_PORT:-5432}
          dbname: ${POSTGRES_DB:-geodata}
          user: ${POSTGRES_USER:-geo}
          password: ${POSTGRES_PASSWORD:-geo}
          search_path: [public]
        id_field: gid
        title_field: GDENAME
        table: geojson_municipalities
        geom_field: geom

  swiss-places-geojson-postgis:
    type: collection
    title: PostGIS - Swiss Places from GeoJSON
    description: Swiss cities, mountains, and lakes loaded from GeoJSON into PostGIS
    keywords: [switzerland, places, postgis]
    links:
      - type: text/html
        rel: canonical
        title: Swiss geospatial data
        href: https://www.swisstopo.admin.ch
        hreflang: en-US
    extents:
      spatial:
        bbox: [5.9, 45.8, 10.5, 47.9]
        crs: http://www.opengis.net/def/crs/OGC/1.3/CRS84
    providers:
      - type: feature
        name: PostgreSQL
        data:
          host: ${POSTGRES_HOST:-postgis}
          port: ${POSTGRES_PORT:-5432}
          dbname: ${POSTGRES_DB:-geodata}
          user: ${POSTGRES_USER:-geo}
          password: ${POSTGRES_PASSWORD:-geo}
          search_path: [public]
        id_field: gid
        title_field: name
        table: geojson_swiss_places
        geom_field: geom

  # ── GeoJSON data: OpenSearch collections ──

  cantons-opensearch:
    type: collection
    title: OpenSearch - Swiss Cantons
    description: Boundaries of the 26 Swiss cantons
    keywords: [switzerland, cantons, administrative, opensearch]
    links:
      - type: text/html
        rel: canonical
        title: swisstopo
        href: https://www.swisstopo.admin.ch
        hreflang: en-US
    extents:
      spatial:
        bbox: [5.9, 45.8, 10.5, 47.9]
        crs: http://www.opengis.net/def/crs/OGC/1.3/CRS84
    providers:
      - type: feature
        name: OpenSearch
        data: http://${OPENSEARCH_HOST:-opensearch}:${OPENSEARCH_PORT:-9200}/geojson-cantons
        open_search: true
        id_field: id
        title_field: KTKZ

  country-opensearch:
    type: collection
    title: OpenSearch - Swiss Country Boundary
    description: Country boundary of Switzerland
    keywords: [switzerland, country, boundary, opensearch]
    links:
      - type: text/html
        rel: canonical
        title: swisstopo
        href: https://www.swisstopo.admin.ch
        hreflang: en-US
    extents:
      spatial:
        bbox: [5.9, 45.8, 10.5, 47.9]
        crs: http://www.opengis.net/def/crs/OGC/1.3/CRS84
    providers:
      - type: feature
        name: OpenSearch
        data: http://${OPENSEARCH_HOST:-opensearch}:${OPENSEARCH_PORT:-9200}/geojson-country
        open_search: true
        id_field: id
        title_field: properties.name

  districts-opensearch:
    type: collection
    title: OpenSearch - Swiss Districts
    description: Boundaries of the 144 Swiss districts
    keywords: [switzerland, districts, administrative, opensearch]
    links:
      - type: text/html
        rel: canonical
        title: swisstopo
        href: https://www.swisstopo.admin.ch
        hreflang: en-US
    extents:
      spatial:
        bbox: [5.9, 45.8, 10.5, 47.9]
        crs: http://www.opengis.net/def/crs/OGC/1.3/CRS84
    providers:
      - type: feature
        name: OpenSearch
        data: http://${OPENSEARCH_HOST:-opensearch}:${OPENSEARCH_PORT:-9200}/geojson-districts
        open_search: true
        id_field: id
        title_field: properties.BEZNAME

  lakes-opensearch:
    type: collection
    title: OpenSearch - Swiss Lakes
    description: Major Swiss lakes
    keywords: [switzerland, lakes, hydrography, opensearch]
    links:
      - type: text/html
        rel: canonical
        title: swisstopo
        href: https://www.swisstopo.admin.ch
        hreflang: en-US
    extents:
      spatial:
        bbox: [5.9, 45.8, 10.5, 47.9]
        crs: http://www.opengis.net/def/crs/OGC/1.3/CRS84
    providers:
      - type: feature
        name: OpenSearch
        data: http://${OPENSEARCH_HOST:-opensearch}:${OPENSEARCH_PORT:-9200}/geojson-lakes
        open_search: true
        id_field: id
        title_field: SEENAME

  municipalities-opensearch:
    type: collection
    title: OpenSearch - Swiss Municipalities
    description: Boundaries of all 2113 Swiss municipalities
    keywords: [switzerland, municipalities, administrative, opensearch]
    links:
      - type: text/html
        rel: canonical
        title: swisstopo
        href: https://www.swisstopo.admin.ch
        hreflang: en-US
    extents:
      spatial:
        bbox: [5.9, 45.8, 10.5, 47.9]
        crs: http://www.opengis.net/def/crs/OGC/1.3/CRS84
    providers:
      - type: feature
        name: OpenSearch
        data: http://${OPENSEARCH_HOST:-opensearch}:${OPENSEARCH_PORT:-9200}/geojson-municipalities
        open_search: true
        id_field: id
        title_field: properties.GDENAME
